@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    margin: 0;
    height: 100%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
body {
    margin: 0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/cover1.jpg") no-repeat center center;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
} 
header {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
header a{
    color: white;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Nunito', sans-serif;
}

#logo {
    font-family: 'Clicker Script', cursive;
    font-size: 35px;
    padding-left: 40px;
    cursor: pointer;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
span {
    color: #f4511e;
    font-weight: bold;
}
 .btn-about {
    border-radius: 50%;
    border: none;
    padding: 10px;
    background-color: #f4511e;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Clicker Script', cursive;
    font-size: 20px;
} 
.about {
    text-align: right;
    padding-top: 25px;
}

.btn-about:hover {
    opacity: 1
}
.btn {
    background-color: #f4511e;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    padding: 5px;
    margin: 15px;
    font-family: 'Nunito', sans-serif;
}
.btn:hover {
    background-color: #f46c1e;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.mt-0{
    margin-top: 0;
}
.pt-0 {
    padding-top: 0;
}

/* used for debugging purposes */
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.bg-green {
    background-color: green;
}
/* End */

footer {
    display: flex;
    height: 70px;
    color: #FFFFFF;
    background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.9));
    padding: 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
}

/* Form styling */
.form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
    border: 3px solid #ec785a;
    border-radius: 5px;
    background-color: #ccc;
    color: black;
    font-family: 'Nunito', sans-serif;
}
.form-container h1 {
    color: #300f05fd;
    border-bottom: 1px solid #f4511e;
}
.form-container button{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.link {
    color: #f46c1e;
    text-decoration: none;
}

/* media queries */
@media (max-width: 400px){
    /* For landing page */
    #logo {
        font-family: 'Clicker Script', cursive;
        font-size: 30px;
        padding-left: 20px;
        cursor: pointer;
    }
    .btn-about {
        padding: 7px;
    }
    .about {
        padding-top: 20px;
    }
    .btn {
        border-radius: 4px;
        font-size: 15px;
        padding: 5px;
        margin: 10px;
    }
    /* For signin and signup pages */
    .form-container {
        width: 80%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .form-container h1 {
        font-size: 1.6rem;
    }
    .form-container p {
        font-size: small;
    }
}